In [2]:
import pymysql

db = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    passwd = "akzpxld12#4",
    db = "ecommerce_v1",
    charset = "utf8"
)

In [3]:
db

In [4]:
ecommercev1 = db.cursor()

In [5]:
ecommercev1

In [6]:
sql = """
    CREATE TABLE product(
        PRODUCT_CODE VARCHAR(20) PRIMARY KEY NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2)
    );
"""

In [7]:
sql

'\n    CREATE TABLE product(\n        PRODUCT_CODE VARCHAR(20) PRIMARY KEY NOT NULL,\n        TITLE VARCHAR(200) NOT NULL,\n        ORI_PRICE INT,\n        DISCOUNT_PRICE INT,\n        DISCOUNT_PERCENT INT,\n        DELIVERY VARCHAR(2)\n    );\n'

In [8]:
ecommercev1.execute(sql)

0

In [9]:
db.commit()

In [10]:
db.close()

In [29]:
import pymysql

db = pymysql.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    passwd = "akzpxld12#4",
    db = "ecommerce_v1",
    charset = "utf8"
)

In [30]:
cursor = db.cursor()

In [25]:
for index in range(10) :
    product_code = 215879150 + index + 1
    SQL = f"""
        INSERT INTO product VALUES(
            '{product_code}',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )
    """
    print(SQL)
    cursor.execute(SQL)

        INSERT INTO product VALUES(
            '215879151',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215879152',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215879153',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215879154',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215879155',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215879156',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215879157',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215879158',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215879159',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )


        INSERT INTO product VALUES(
            '215879160',
            '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔',
            23000,
            6900,
            70,
            'F'
        )

In [27]:
db.commit()

In [28]:
db.close()

In [ ]:
# fetchall() : 해당 테이블 내 모든 데이터를 가져옵니다
# fetchone() : 매칭되는 해당 값 중 첫번째 값을 가져옵니다
# > 이미 앞에서 먼저 찾아온 값이 존재한다면, 해당 값 이후부터 값을 찾아옵니다
# fetchmany() : 인자값으로 작성된 숫자만큼의 데이터를 가져옵니다

In [31]:
SQL = "SELECT * FROM product"
cursor.execute(SQL)
row = cursor.fetchone()
print(row)

('215673150', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [32]:
row = cursor.fetchone()
print(row)

('215673151', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [33]:
rows = cursor.fetchmany(2)
print(rows)

(('215673152', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'), ('215673153', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'))

In [34]:
rowsAll = cursor.fetchall()
for row in rowsAll :
    print(row)

('215673154', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673155', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673156', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673157', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673158', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673159', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673160', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879151', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879152', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879153', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879154', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879155', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879156', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879157', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879158', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879159', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215879160', '스위트바니 여름신상 5900원 ~ 롱원피스/티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [35]:
SQL = """
    UPDATE product SET
        TITLE = "썸머 가디건 코디전",
        ORI_PRICE = 33000,
        DISCOUNT_PRICE = 9900,
        DISCOUNT_PERCENT = 70
    WHERE PRODUCT_CODE = "215879160"
"""

In [36]:
cursor.execute(SQL)

1

In [37]:
db.commit()

In [ ]:
# 프로그래밍 언어는 CRUD -> 4가지 기능을 기본적으로 가지고 있다.

In [38]:
SQL = """DELETE FROM product WHERE PRODUCT_CODE = '215879160';"""
print(SQL)

DELETE FROM product WHERE PRODUCT_CODE = '215879160';

In [39]:
cursor.execute(SQL)

1

In [40]:
db.commit()